In [1]:
import numpy as np
import pandas as pd

In [2]:
test_set=pd.read_csv('/Users/zhangzhihao/Desktop/Machine Learning/pre/test.csv')

In [3]:
test_set.head()

,instanceID,label,clickTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,1,-1,310000,3745,1164848,3451,1,3
1,2,-1,310000,2284,2127247,1613,1,3
2,3,-1,310000,1456,2769125,5510,2,1
3,4,-1,310000,4565,9762,4113,2,3
4,5,-1,310000,49,2513636,3615,1,3

In [4]:
reader = pd.read_csv('/Users/zhangzhihao/Desktop/Machine Learning/pre/ad.csv', iterator=True)
loop = True
chunkSize = 100000
chunks = []
while loop:
    try:
        chunk = reader.get_chunk(chunkSize)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print ("Iteration is stopped.")
ad = pd.concat(chunks, ignore_index=True)

Iteration is stopped.

In [5]:
ad.head()

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform
0        4079  2318         147            80     14            2
1        4565  3593         632             3    465            1
2        3170  1593         205            54    389            1
3        6566  2390         205            54    389            1
4        5187   411         564             3    465            1

In [6]:
reader = pd.read_csv('/Users/zhangzhihao/Desktop/Machine Learning/pre/app_categories.csv', iterator=True)
loop = True
chunkSize = 100000
chunks = []
while loop:
    try:
        chunk = reader.get_chunk(chunkSize)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print ("Iteration is stopped.")
app_categories = pd.concat(chunks, ignore_index=True)

Iteration is stopped.

In [8]:
ad_cat=pd.merge(ad,app_categories,on='appID',how='left')

In [9]:
ad_cat.head()

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform  appCategory
0        4079  2318         147            80     14            2            2
1        4565  3593         632             3    465            1          209
2        3170  1593         205            54    389            1          108
3        6566  2390         205            54    389            1          108
4        5187   411         564             3    465            1          209

In [10]:
reader = pd.read_csv('/Users/zhangzhihao/Desktop/Machine Learning/pre/position.csv', iterator=True)
loop = True
chunkSize = 100000
chunks = []
while loop:
    try:
        chunk = reader.get_chunk(chunkSize)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print ("Iteration is stopped.")
position = pd.concat(chunks, ignore_index=True)

Iteration is stopped.

In [11]:
reader = pd.read_csv('/Users/zhangzhihao/Desktop/Machine Learning/pre/user.csv', iterator=True)
loop = True
chunkSize = 100000
chunks = []
while loop:
    try:
        chunk = reader.get_chunk(chunkSize)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print ("Iteration is stopped.")
user = pd.concat(chunks, ignore_index=True)

Iteration is stopped.

In [12]:
merge=pd.merge(test_set,user,on='userID',how='left')

In [13]:
merge.head()

,instanceID,label,clickTime,creativeID,userID,positionID,connectionType,telecomsOperator,age,gender,education,marriageStatus,haveBaby,hometown,residence
0,1,-1,310000,3745,1164848,3451,1,3,29,2,1,0,1,605,605
1,2,-1,310000,2284,2127247,1613,1,3,23,2,6,1,0,2205,2301
2,3,-1,310000,1456,2769125,5510,2,1,28,1,0,0,0,0,1502
3,4,-1,310000,4565,9762,4113,2,3,23,1,3,3,0,2405,2407
4,5,-1,310000,49,2513636,3615,1,3,9,2,4,0,0,307,307

In [15]:
merge=pd.merge(merge,position,on='positionID',how='left')

In [16]:
merge.head()

,instanceID,label,clickTime,creativeID,userID,positionID,connectionType,telecomsOperator,age,gender,education,marriageStatus,haveBaby,hometown,residence,sitesetID,positionType
0,1,-1,310000,3745,1164848,3451,1,3,29,2,1,0,1,605,605,0,1
1,2,-1,310000,2284,2127247,1613,1,3,23,2,6,1,0,2205,2301,0,1
2,3,-1,310000,1456,2769125,5510,2,1,28,1,0,0,0,0,1502,0,1
3,4,-1,310000,4565,9762,4113,2,3,23,1,3,3,0,2405,2407,0,1
4,5,-1,310000,49,2513636,3615,1,3,9,2,4,0,0,307,307,0,1

In [17]:
reader = pd.read_csv('/Users/zhangzhihao/Desktop/Tencent/user_app_action_cat_onehot.csv', iterator=True)
loop = True
chunkSize = 100000
chunks = []
while loop:
    try:
        chunk = reader.get_chunk(chunkSize)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print ("Iteration is stopped.")
action = pd.concat(chunks, ignore_index=True)

Iteration is stopped.

In [18]:
reader = pd.read_csv('/Users/zhangzhihao/Desktop/Tencent/user_installedapps_categories_onehot.csv', iterator=True)
loop = True
chunkSize = 100000
chunks = []
while loop:
    try:
        chunk = reader.get_chunk(chunkSize)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print ("Iteration is stopped.")
install = pd.concat(chunks, ignore_index=True)

Iteration is stopped.

In [20]:
install=install.drop(['Unnamed: 0'],axis=1)

In [22]:
action=action.drop(['Unnamed: 0'],axis=1)

In [23]:
merge=pd.merge(merge,ad_cat,on='creativeID',how='left')

In [24]:
merge=pd.merge(merge,action,on='userID',how='left')

In [30]:
merge[merge.iloc[:,-27:].isnull()]=0.0

In [34]:
action_name=[]
for i in list(merge.iloc[:,-27:].columns):
    action_name.append('appAction_'+str(i))
action_name

['appAction_106',
 'appAction_109',
 'appAction_203',
 'appAction_104',
 'appAction_503',
 'appAction_0',
 'appAction_201',
 'appAction_401',
 'appAction_301',
 'appAction_405',
 'appAction_108',
 'appAction_408',
 'appAction_402',
 'appAction_209',
 'appAction_407',
 'appAction_409',
 'appAction_403',
 'appAction_105',
 'appAction_2',
 'appAction_210',
 'appAction_110',
 'appAction_406',
 'appAction_211',
 'appAction_204',
 'appAction_303',
 'appAction_103',
 'appAction_1']

In [35]:
test=merge
name=list(test.columns)
name=name[:-27]+action_name
test.columns=name
merge=test

In [37]:
final_result=pd.merge(merge,install,on='userID',how='left')

In [38]:
final_result.columns

Index(['instanceID', 'label', 'clickTime', 'creativeID', 'userID',
       'positionID', 'connectionType', 'telecomsOperator', 'age', 'gender',
       'education', 'marriageStatus', 'haveBaby', 'hometown', 'residence',
       'sitesetID', 'positionType', 'adID', 'camgaignID', 'advertiserID',
       'appID', 'appPlatform', 'appCategory', 'appAction_106', 'appAction_109',
       'appAction_203', 'appAction_104', 'appAction_503', 'appAction_0',
       'appAction_201', 'appAction_401', 'appAction_301', 'appAction_405',
       'appAction_108', 'appAction_408', 'appAction_402', 'appAction_209',
       'appAction_407', 'appAction_409', 'appAction_403', 'appAction_105',
       'appAction_2', 'appAction_210', 'appAction_110', 'appAction_406',
       'appAction_211', 'appAction_204', 'appAction_303', 'appAction_103',
       'appAction_1', 'appinstalled_201', 'appinstalled_409',
       'appinstalled_301', 'appinstalled_203', 'appinstalled_503',
       'appinstalled_407', 'appinstalled_0', 'appinstalled_103',
       'appinstalled_406', 'appinstalled_209', 'appinstalled_108',
       'appinstalled_211', 'appinstalled_402', 'appinstalled_210',
       'appinstalled_2', 'appinstalled_405', 'appinstalled_408',
       'appinstalled_106', 'appinstalled_403', 'appinstalled_401',
       'appinstalled_109', 'appinstalled_104', 'appinstalled_303',
       'appinstalled_110', 'appinstalled_105', 'appinstalled_204',
       'appinstalled_1'],
      dtype='object')

In [39]:
final_result.to_csv('/Users/zhangzhihao/Desktop/Tencent/test/merge_result.csv')

In [40]:
drop_list=['advertiserID','camgaignID','adID','appID','userID','clickTime','creativeID','positionID','hometown','residence']
ad=final_result.drop(drop_list,axis=1)

In [45]:
ad.columns

Index(['instanceID', 'label', 'connectionType', 'telecomsOperator', 'age',
       'gender', 'education', 'marriageStatus', 'haveBaby', 'sitesetID',
       'positionType', 'appPlatform', 'appCategory', 'appAction_106',
       'appAction_109', 'appAction_203', 'appAction_104', 'appAction_503',
       'appAction_0', 'appAction_201', 'appAction_401', 'appAction_301',
       'appAction_405', 'appAction_108', 'appAction_408', 'appAction_402',
       'appAction_209', 'appAction_407', 'appAction_409', 'appAction_403',
       'appAction_105', 'appAction_2', 'appAction_210', 'appAction_110',
       'appAction_406', 'appAction_211', 'appAction_204', 'appAction_303',
       'appAction_103', 'appAction_1', 'appinstalled_201', 'appinstalled_409',
       'appinstalled_301', 'appinstalled_203', 'appinstalled_503',
       'appinstalled_407', 'appinstalled_0', 'appinstalled_103',
       'appinstalled_406', 'appinstalled_209', 'appinstalled_108',
       'appinstalled_211', 'appinstalled_402', 'appinstalled_210',
       'appinstalled_2', 'appinstalled_405', 'appinstalled_408',
       'appinstalled_106', 'appinstalled_403', 'appinstalled_401',
       'appinstalled_109', 'appinstalled_104', 'appinstalled_303',
       'appinstalled_110', 'appinstalled_105', 'appinstalled_204',
       'appinstalled_1'],
      dtype='object')

In [46]:
ad.to_csv("/Users/zhangzhihao/Desktop/Tencent/test/drop1.csv")

In [47]:
ad[ad.isnull()]=0.0

In [48]:
ad.loc[ad['connectionType']==0,'connectionType']=1
ad.loc[ad['telecomsOperator']==0,'telecomsOperator']=1
ad.loc[ad['gender']==0,'gender']=1
ad.loc[ad['education']==0,'education']=1
ad.loc[ad['marriageStatus']==0,'marriageStatus']=2
ad.loc[ad['haveBaby']==0,'haveBaby']=1
ad.loc[ad['positionType']==0,'positionType']=1
ad.loc[ad['appCategory']==0,'appCategory']=209
ad['appAction_209']=ad['appAction_209']+ad['appAction_0']
ad['appinstalled_209']=ad['appinstalled_209']+ad['appinstalled_0']

In [49]:
ad.head()

,instanceID,label,connectionType,telecomsOperator,age,gender,education,marriageStatus,haveBaby,sitesetID,...,appinstalled_106,appinstalled_403,appinstalled_401,appinstalled_109,appinstalled_104,appinstalled_303,appinstalled_110,appinstalled_105,appinstalled_204,appinstalled_1
0,1,-1,1,3,29,2,1,2,1,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,-1,1,3,23,2,6,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,-1,2,1,28,1,1,2,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,-1,2,3,23,1,3,3,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,-1,1,3,9,2,4,2,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
drop_list2=['appinstalled_0','appAction_0']
ad=ad.drop(drop_list2,axis=1)

In [53]:
dummy_list=['connectionType','telecomsOperator','gender','education','marriageStatus','haveBaby','sitesetID','positionType','appPlatform','appCategory']
for i in dummy_list:
    ad[i]=ad[i].astype('category')
dummy=pd.get_dummies(ad[dummy_list])
ad=pd.concat([ad,dummy],axis=1)
ad=ad.drop(dummy_list,axis=1)

In [63]:
def age_cat(x):
    if(x<=10):
        return 1
    elif(x>10 and x<=20):
        return 2
    elif(x>20 and x<=30):
        return 3
    elif(x>30 and x<=40):
        return 4
    elif(x>40 and x<=50):
        return 5
    elif(x>50 and x<=60):
        return 6
    elif(x>60 and x<=70):
        return 7
    elif(x>70 and x<=80):
        return 8
    else:
        return 9
ad['age_cat']=ad['age'].apply(age_cat)
ad['age']=ad['age'].astype('category')
dummy=pd.get_dummies(ad['age_cat'])
ad=pd.concat([ad,dummy],axis=1).drop(['age','age_cat'],axis=1)
name_list=[]
for i in range(8):
    name_list.append('age_'+str(i+1))
name_list=list(ad.columns[:-8])+name_list
ad.columns=name_list

In [84]:
p=ad.iloc[:,:92]
p['appCategory_106']=0

In [88]:
final=pd.concat([p,ad.iloc[:,92:]],axis=1)

In [93]:
p=final.iloc[:,:95]
p['appCategory_203']=0
final=pd.concat([p,final.iloc[:,95:]],axis=1)

In [96]:
p=final.iloc[:,:100]
p['appCategory_408']=0
final=pd.concat([p,final.iloc[:,100:]],axis=1)

In [99]:
final.to_csv('/Users/zhangzhihao/Desktop/Tencent/test/test_set.csv')